################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UI/online-store-ui/.vscode
/online-store-api/.vs/online-store-api.slnx
/online-store-api/online-store-api/obj
API/.vs/online-store-api.slnx/DesignTimeBuild/.dtbcache.v2
API/.vs/online-store-api.slnx/FileContentIndex/4ac991b3-9fc5-4ecc-a5db-4adf375dcecb.vsidx
API/.vs/online-store-api.slnx/FileContentIndex/6ac9328d-9977-4401-89af-ca9b557ccec8.vsidx
API/.vs/online-store-api.slnx/FileContentIndex/38fa3517-c5ae-464f-8161-e2fdd2923120.vsidx
API/.vs/online-store-api.slnx/FileContentIndex/87db55ea-3408-4802-8b80-01b66ed38bad.vsidx
API/.vs/online-store-api.slnx/FileContentIndex/15780aa1-c9fc-4ea0-9930-6ec56c03126c.vsidx
API/.vs/online-store-api.slnx/FileContentIndex/ccbbfb2f-493a-4e97-b018-7f2acdd77a9e.vsidx
API/.vs/online-store-api.slnx/FileContentIndex/eeec929a-9a06-4771-9d82-d1b3b037a379.vsidx
API/.vs/online-store-api.slnx/FileContentIndex/fde98550-cd84-4e20-8035-1ff1c2b7f2e2.vsidx
API/.vs/online-store-api.slnx/v18/.suo
API/.vs/online-store-api.slnx/v18/DocumentLayout.backup.json
API/.vs/online-store-api.slnx/v18/DocumentLayout.json
